@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Quicksand:wght@400;700&family=Righteous&display=swap');

$color-grey: #656565;
$color-white: #fff;
$color-black: #000;
$color-green: #4A8A5F;

$font-date: "Quicksand";
$font-main: "Lato";
$font-page-title: "Righteous";